body {
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    gap: 50px;
    flex-shrink: 1;
    flex-direction: column;
    height: 1500px;
}

.header {
    width: 400px;
    background-color: #1b4024;
    height: 1080px;
    color: beige;
    margin-top: 40px;
    border-radius: 10px;
}



h1, h2 {
    font-family: quicksand;
}

h1 {
    margin: 20px;
    text-align: center;
}

.photo {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: beige solid 2px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
}


p, ul {
    font-family: source sans pro;
    font-size: 16px;
}

li {
    margin-top: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.info {
    margin-top: 60px;
}

.languages {
    margin-top: 80px;
}


.container {
    width: 500px;
    padding-top: 40px;
}

.one {
    width: 330px;
    margin-top: 80px
}

.two {
    margin-top: 40px;
}

.main {
    display: flex;
    gap: 40px;
}

.rectangle {
    width: 880px;
    padding: 30px;
    background-color: #91b594;
    border-radius: 10px;
    color: black;
}

h3 {
    font-family: source sans pro;
}
